<footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">Watchobb</h1>
          
      <h2>Contact</h2>
      
      <address>
        0011 Somewhere In <br> The World XXXXXX<br>
            
        <a class="footer__btn" href="mailto:watchobb@gmail.com">Email Us</a>
      </address>
    </div>
    
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Company</h2>
  
        <ul class="nav__ul">
          <li>
            <a href="/">Home</a>
          </li>
  
          <li>
            <a href="#">About Us</a>
          </li>

          <li>
            <a href="#">Sitemap</a>
          </li>

        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">Help center</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Notices</a>
          </li>
          
          <li>
            <a href="#">Grievances</a>
          </li>
          
          <li>
            <a href="#">Report issue</a>
          </li>
          
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">Legal</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          
          <li>
            <a href="#">Terms & Conditions</a>
          </li>
          
          <li>
            <a href="#">Trust & Safety</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
      <p>&copy; 2023. All rights reserved.</p>
      
      <div class="legal__links">
        <span>Made by <span class="heart">Shivam Gagneja</span>.</span>
      </div>
    </div>
  </footer>