{% extends "rbase.html" %}
{% block head %}
    <title>
        Welcome to Watchobb! Let's get a job..
    </title>
{% endblock %}

{% block content %}
    <div class="banner">
        <h1 class="banner-title">Welcome to Watchobb!</h1>
    </div>
    <div class="srch-bar">
        {% csrf_token %}
        <form class="srch">
        <input type="text" placeholder="Enter Keywords" name="keywords">
        <input type="text" placeholder="Location" name="location">
        <input type="text" placeholder="Experience" name="experience">
        <button type="submit">Search</button>
        </form>
    </div>
{% endblock %}