<!-- <form class="modal-content animate" action="/signup" method="post" autocomplete="off">

    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close"
        title="Close Modal">&times;</span>
      <h1 style="background-color: #f1f1f1; display: block;">New User Signup</h1>
    </div>

    <div class="container">
      {% csrf_token %}

      <label for="fname"><b>First Name</b></label>
      <span id="fnameH" class="hint"></span>
      <input type="text" placeholder="Enter First Name" name="fname" onkeyup='valName(this.value,"fnameH")' required>

      <label for="lname"><b>Last Name</b></label>
      <span id="lnameH" class="hint"></span>
      <input type="text" placeholder="Enter Last Name" name="lname" onkeyup='valName(this.value,"lnameH")' required>

      <label for="dob"><b>Date of Birth</b></label>
      <input type="date" placeholder="Enter Date of Birth" name="dob" required>

      <label for="gender"><b>Gender</b></label>
      <select name="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>

      <label for="email"><b>E-mail ID</b></label>
      <span id="emailH" class="hint"></span>
      <input type="email" id="emailField" placeholder="Enter E-mail ID" name="email" onkeyup="valmail(this.value)" required>

      <label for="mobile"><b>Enter Mobile No.</b></label>
      <span id="pHint" class="hint"></span>
      <input type="number" placeholder="Enter 10 Digit Mobile No." name="mobile" onkeyup='valPhone(this.value,"pHint")' required>

      <label for="psw"><b>Password</b></label>
      <span id="passHint1" class="hint"></span>
      <input type="password" placeholder="Enter Password" name="psw" id="ps1" onkeyup="matchPass(this.value)"
        required>

      <label for="psw1"><b>Confirm Password</b></label>
      <span id="passHint" class="hint"></span>
      <input type="password" placeholder="Confirm Password" name="psw1" id="ps2" onkeyup="matchPass(this.value)"
        required disabled>
      <div class="centered">
        <button type="submit" id="crtacc" class="acc" disabled>Create Account</button>
      </div>
    </div>

  </form> -->